{extend name="common/app" /}

{block name="body"}
<script>
	document.getElementById('Tags').className="active";
</script>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Tags Management <small> Tags Management (标签管理)</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Tags Management
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            添加标签.当前时间 : {:date('Y.m.d H:i:s')}
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                	<div class="col-lg-6 col-md-6">
                        <form role="form" action="" method="post">
                          <div class="form-group">
                            <label for="name">标签名称</label>
                            <input type="text" class="form-control" name="name" placeholder="请输入需要创建的标签名称">
                          </div>
                          <button type="submit" class="btn btn-default"> 创 建 </button>
                        </form>
                    </div>
       			</div>
                <!-- /.row -->
{/block}